<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © Bart's Profile Page 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><%= link_to "https://twitter.com/bartdn183", target: "_blank" do %><i class="fa fa-twitter"></i><% end %>
                    </li>
                    <li><%= link_to "https://www.facebook.com/bdn183", target: "_blank" do %><i class="fa fa-facebook"></i><% end %>
                    </li>
                    <li><%= link_to "https://www.linkedin.com/in/bart-de-nef-6220ab11b", target: "_blank" do %><i class="fa fa-linkedin"></i><% end %>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><%= link_to "Privacy Policy" %>
                    </li>
                    <li><%= link_to "Terms of Use" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>