<!-- My Path Section -->
<section id="my-path">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Path</h2>
                <h3 class="section-subheading text-muted">Overview how I became a web developer.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "about/5.jpg", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>NOVEMBER 2015</h4>
                                <h4 class="subheading">Beginning Web Development</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I took my first steps in Web Development November 2015. I started Code Academy online and bought a few basic HTMl, CSS & JavaScript books online.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "about/6.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>APRIL 2016</h4>
                                <h4 class="subheading">Code Immersion Bootcamp</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In spring 2016 I did a Code Immersion Bootcamp in Charlotte. We covered HTML5, CSS3, Bootstrap Framework, JavaScript, GIT, SQL, Ruby and Ruby on Rails Framework and API's. This was for me the the real start of my Web Development Career.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "about/7.jpg", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>JULY 2016</h4>
                                <h4 class="subheading">Code Immersion instructor Assistant</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">July 2016 I joined the Code Immersion class of summer 2016. I helped out other students. During class fixing errors from other students and tutoring them was a great experience and helped me to understand everything better.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "about/11.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2016 - Present</h4>
                                <h4 class="subheading">Verbar LLC Web Developer & General IT Support</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I'm helping a Belgian friend with his startup in Charlotte. I built a Ruby On Rails customer portal (https://portal.vebar.com) and still being improved. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "about/8.jpg", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2016 - Present</h4>
                                <h4 class="subheading">Code Immersion instructor</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">September 2016 I started to teach the code immersion classes from Tech Talent South in Charlotte, NC. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "about/9.jpg", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November 2017</h4>
                                <h4 class="subheading">Next Level Rails</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I was already familiar with testing in Ruby & Rails but you always learn something new so I did audit this course about Testing (Respec) & Building API in rails. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "about/10.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November 2017</h4>
                                <h4 class="subheading">Ios Swift Course</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I asked myself always how to create a mobile application. I took the dicision to participate in the iOS class to learn about Swift language.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>This is
                                <br>Part Of My
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>